/* You can add global styles to this file, and also import other style files */

.video-section{
  margin: 10px;
  width:1050px;
  height:450px;
  position: relative;
}
.subscriber{
  width:500px;
  height:450px;
  display: inline-block;
  background: #c8cbd1;
  border: 1px solid;
  box-shadow: 5px 5px 5px #888888;
}
.subscriber_loading_text{
  color: #888888;
  font-size: large;
  position: absolute;
  top: 200px;
  left: 215px;
  width: 100%;
}

.publisher{
  width:250px;
  height:200px;
  display: inline-block;
  background: #b6a6fc;
  position:absolute;
  right:270px;
  bottom:0
}

.subscriber_screenshot_section{
  width:250px;
  height:220px;
  display: inline-block;
  position:absolute;
  right:0;
  bottom:0;
  text-align: center
}

.subscriber_screenshot{
  width:250px;
  height:200px;
  display: inline-block;
  position:absolute;
  right:0;
  bottom:0;
  box-shadow: 4px 4px 4px #53575e;
}

